body {
    background-color:blueviolet
    color:blueviolet;
    font-family:trebuchet ms, comic sans ms, cursive
    margin:0;
{
    header {
        font: size 60px;
        padding:6px
        text-align:center;
{
    